.wrapper {
    display: flex;
    height: 100vh
}
p {
    font-family:"Bell MT";
    color: #212124;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}

.box {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition:
    font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);

}


.box>*{
    flex:1 0 auto;
    width:100%;
    justify-content: center;
    align-items: center;
    display: flex;
    transition:0.5s;
}
.box.open {
    flex: 5;
}
.box > *:first-child{transform: translateY(-120%)}
.box.active > *:first-child{transform: translateY(0)}
.box > *:last-child{transform: translateY(120%)}
.box.active> *:last-child{transform: translateY(0)}

.box p{
    font-size: 30px;
}

p.open {
    font-size: 50px;
    color: #e80b0b;
    font-style: oblique;
    font-family: "Bodoni MT Black";
}

.box1{
    background-repeat: no-repeat;
    background-image:url("img/e.jpg");
}
.box2{
    background-image: url("img/g.jpg");
}
.box3{
    background-image:url("img/hh.jpg");
}
.box4{
    background-image: url("img/w.jpg");
}
.box5{
    background-image:url("img/r.jpg");
}



















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































